<h1><%= h(@title) %></h1>
<% form_for :wizard, :url => @wizard.url do |f| -%>
  <%= hidden_field_tag :step, wizard.step.name %>
  <%= render :partial => wizard.step.view, :locals => { :wizard => wizard, :form => f } %>
  <% unless wizard.done? -%>
  <div class="buttons">
    <% if wizard.last_step? -%>
      <%= f.submit 'Finish' %>
    <% else -%>
      <%= f.submit 'Next' %>
    <% end -%>
  </div>
  <% end -%>
<% end -%>
